.about-section{
  padding: 70px 0px 70px 0px;
  @media screen and (max-width: $mobile) {
    padding: 50px 0px 50px 0px;
  }
}

.about-wrapping {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // @media screen and (max-width: $mobile) {
  //   display: inline-block;
  // }
}

.about-content {
text-align: center;
}

.about-content__title {
  color: $color_black;
  position: relative;
}

.about-content__title:after {
  content: '';
  display: inline-block;
  background-color: $color_accent;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
}

.about-content__subtitle,
.about-content__paragraf {
  font-family: $font_accent;
  font-size: 14px;
  line-height: 1.56;

}


.about-img {
  max-width: 375px;
  margin-right: 0px;
  @media screen and (min-width: $desktop) {
    max-width: 600px;
  }
}
