.about-us-block {
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-title {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-family: $font_details;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.33;
  text-transform: uppercase;
  color: $color_black;
  position: relative;
}

.about-us-title:after {
  content: '';
  display: inline-block;
  background-color: $color_accent;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
}

.about-us-subtitle,
.about-us-paragraf {
  margin: 20px 0px 0px 0px;
  font-family: $font_accent;
  font-size: 14px;
  line-height: 1.56;
  text-align: center;
}
.about-us-text-block {
  width: 600px;
  text-align: center;
  margin-top: 40px;
}

.about-us-img {
  margin-left: 80px;
}
