.book-section {
  padding: 100px 0px 110px 0px;
  @media screen and (max-width: $mobile) {
    padding: 50px 0px 50px 0px;
  }
}

.book-wrapper {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.book-form {
  padding: 0px;
  margin-top: 40px;
  position: relative;
}

.book-content {
  text-align: center;
}

.book-content__title {
  margin: 0px;
  color: var(--color2);
  position: relative;
}

.book-form__input {
  margin: 5px 0px 0px 0px;
  padding-left: 10px;
  min-height: 60px;
  background: #e5e5e5;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  @media screen and (max-width: $mobile) {
    width: 100%;
    min-width: 277px;
    max-width: 560px;
    margin: 10px 0px 0px 0px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 277px;
  }
}

.book-form__button {
  padding: 0px;
  margin: 5px 0px 0px 0px;
  border-radius: 5px;

  min-height: 60px;

  text-align: center;
  border: none;

  color: var(--color1);
  background-color: var(--color3);
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    min-width: 277px;
    max-width: 560px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 277px;
  }
}
.book-img {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.book-time {
  margin: 10px 0px 0px 0px;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: var(--color5);

  @media screen and (max-width: $mobile) {
    font-size: 10px;
  }

  @media screen and (max-width: 424px) {
    font-size: 8px;
  }
}
.book-tel {
  color: var(--color5);
}
.book-scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.4;
  position: fixed;
  bottom: 50px;
  right: 35px;
  background: url(../images/icon-top.png) no-repeat;
  @media screen and (max-width: $mobile) {
    bottom: 50px;
    right: 35px;
    z-index: 12;
  }
}
