.book-section {
  padding: 100px 0px 110px 0px;
  @media screen and (max-width: $mobile) {
    padding: 50px 0px 50px 0px;
  }
}

.book-wrapper{
    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media screen and (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
}

.book-form {
  padding: 0px;
  margin-top: 40px;
  position: relative;
}

.book-content{
  text-align: center;
}

.book-content__title {
  margin: 0px;
  color: $color_black;  
  position: relative;
}

.book-form__input {
  margin: 5px 0px 0px 0px;
  padding-left: 10px;
  min-width: 277px;
  min-height: 60px;
  background: #e5e5e5;
  border-radius: 5px;
  border: none;

  @media screen and (max-width: $mobile) {
    margin: 10px 0px 0px 0px;
  }
}

.book-form__button {
  padding: 0px;
  margin: 5px 0px 0px 0px;
  border-radius: 5px;
  min-width: 560px;
  min-height: 60px;

  text-align: center;
  border: none;

  color: $color_white;
  background-color: $color_accent;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: $mobile) {
    min-width: 277px;
    margin: 10px 0px 0px 0px;
  }
}

.book-time {
  margin: 10px 0px 0px 0px;

  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #333333;

  @media screen and (max-width: $mobile) {
    font-size: 10px;
  }
}
.book-tel {
  color: #333333;
}
.book-scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.4;
  position: fixed;
  bottom: 50px;
  right: 35px;
  background: url(../images/icon-top.png) no-repeat;
  @media screen and (max-width: $mobile) {
    bottom: 50px;
    right: 35px;
    z-index: 12;
  }
}
