.book-section {
  padding: 100px 0px 110px 0px;
  @media screen and (max-width: 425px) {
    padding: 50px 0px 50px 0px;
  }
}

.book-block {
  @media screen and (min-width: 426px) {
    display: flex;
    justify-content: center;
  }
}
.book-block-form {
  display: block;
  text-align: center;
}

.book-form {
  padding: 0px;
  margin-top: 40px;
  position: relative;
}

.book-title {
  margin: 0px;
  font-family: $font_details;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: $color_black;
  position: relative;
}

.book-title:after {
  content: '';
  display: inline-block;
  background-color: $color_accent;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
}

.book-input {
  margin: 5px 0px 0px 0px;
  padding-left: 10px;
  width: 277px;
  height: 60px;
  background: #e5e5e5;
  border-radius: 5px;
  border: none;

  @media screen and (max-width: 425px) {
    margin: 10px 0px 0px 0px;
  }
}

.book-button {
  padding: 0px;
  margin: 5px 0px 0px 0px;
  border-radius: 5px;
  min-width: 564px;
  height: 60px;

  text-align: center;
  border: none;

  color: $color_white;
  background-color: $color_accent;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: 425px) {
    min-width: 280px;
    margin: 10px 0px 0px 0px;
  }
}

.book-inscription {
  margin: 10px 0px 0px 0px;

  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #333333;

  @media screen and (max-width: 425px) {
    font-size: 10px;
  }
}
.book-tel {
  color: #333333;
}
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.4;
  position: fixed;
  bottom: 50px;
  right: 35px;
  background: url(../images/icon-top.png) no-repeat;
  @media screen and (max-width: 425px) {
    bottom: 50px;
    left: 350px;
    z-index: 12;
  }
}
