.contact-title {
  margin: 0px;
  font-family: $font_details;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: $color_black;
  position: relative;
}

.contact-title:after {
  content: '';
  display: inline-block;
  background-color: $color_accent;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
}

.contact-block {
  padding: 100px 0px 100px 0px;
  @media screen and (max-width: 425px) {
    padding: 50px 0px 0px 0px;
  }
}

.contact-paragraf {
  display: block;
  width: 600px;
  text-align: center;
  margin: 30px auto 0px auto;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.56;
  color: $color_black;

  @media screen and (max-width: 425px) {
    width: 375px;
  }
}
.contact-input-name,
.contact-input-email,
.contact-input-phone {
  margin: 40px 0px 0px 0px;
  padding-left: 10px;
  width: 420px;
  height: 60px;
  background: #e5e5e5;
  border-radius: 5px;
  border: none;

  &:not(:last-child) {
    margin-right: 10px;
  }

  @media screen and (max-width: 425px) {
    width: 375px;
    margin: 10px 0px 0px 0px;
  }
}

.contact-input-message {
  margin: 10px 0px 0px 0px;
  padding-left: 10px;
  width: 1190px;
  height: 120px;
  background: #e5e5e5;
  border-radius: 5px;
  border: none;

  @media screen and (max-width: 425px) {
    width: 375px;
    height: 100px;
  }
}

.contact-form-block {
  @media screen and (min-width: 426px) {
    display: flex;
    justify-content: center;
  }
}

.contact-button {
  padding: 0px;
  margin: 5px 0px 0px 0px;
  border-radius: 5px;
  min-width: 564px;
  height: 60px;

  text-align: center;
  border: none;

  color: $color_white;
  background-color: $color_accent;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: 425px) {
    min-width: 375px;
  }
}
.contact-data {
  @media screen and (min-width: 426px) {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.contact-data-block {
  @media screen and (min-width: 426px) {
    display: flex;
  }
}

.contact-icon-block {
  display: flex;
  align-items: center;
  margin-right: 60px;
  @media screen and (max-width: 425px) {
    margin: 10px 113px 10px 113px;
  }
}
.icon-location,
.icon-phone,
.icon-envelop {
  margin-right: 5px;
}

.contact-data-title {
  margin: 0px;

  font-family: $font_accent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $color_black;
}

.contact-orange-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.contact-message {
  margin-top: 20px;

  text-align: right;
}
