.delicious-section {
  padding: 100px 0px 100px 0px;
  @media screen and (max-width: $mobile) {
    padding: 50px 0px 50px 0px;
  }
  @media screen and (max-width: 424px) {
    display: none;
  }
}

.delicious-header {
  text-align: center;
}

.delicious-title {
  margin: 0px;
  text-align: center;
  color: var(--color2);
  position: relative;
}

.delicious-paragraph {
  margin: 40px 0px 0px 0px;
  color: var(--color2);
}

// tabs
.delicious-tabs {
  margin-top: 40px;
}

.delicious-tabs__menu {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
  }

  @media screen and (max-width: $mobile) {
    display: flex;
    justify-content: center;
  }
}

.delicious-tabs__item {
  padding: 10px 30px;
  border: none;
  color: var(--color2);
  font-weight: 500;
  text-decoration: none;
  position: relative;

  @media screen and (max-width: $mobile) {
    padding: 15px 8px 15px 8px;
    font-size: 12px;
  }
}

.delicious-tabs__item:not(:last-child):after {
  content: '';
  display: inline-block;
  background-color: var(--color4);
  width: 50px;
  height: 1px;
  position: absolute;
  left: 75%;
  bottom: 55%;
  transform: rotate(-90deg);

  @media screen and (max-width: $mobile) {
    left: 50%;
  }
}

.delicious-tabs__id {
  display: none;
  animation: fadeEffect 500ms;
}

.delicious-tabs__wrapper {
  display: flex;
  justify-content: space-between;
}

.delicious-tabs__dish {
  font-family: var(--font2);
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  color: var(--color5);
  margin: 50px 0 0 0;

  @media screen and (max-width: $mobile) {
    font-size: 12px;
    margin: 30px 0 0 0;
  }
}

.delicious-tabs__description {
  margin: 5px 0 0 0;

  @media screen and (max-width: $mobile) {
    font-size: 12px;
    margin: 10px 0 0 0;
  }
}

.delicious-tabs__item--active {
  color: var(--color3);
}

.delicious-active {
  display: block;
}

/* Анимации */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
