.footer-section {
  background-color: var(--color2);
  padding: 45px 0px 45px 0px;
}

.footer-networks {
  display: flex;
  justify-content: center;
}
.footer-link {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-copyright {
  font-weight: normal;
  font-size: 12px;
  line-height: 1;

  text-align: center;
  margin: 0px;
  color: rgba(255, 255, 255, 0.5);
}
