.footer-map {
  display: block;
  width: 100%;
}

.footer-block {
  background-color: $color_black;
  // height: 100px;
  padding: 45px 0px 45px 0px;
}

.footer-copyright {
  font-family: $color_white;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;

  text-align: center;
  margin: 0px;
  color: rgba(255, 255, 255, 0.5);
}

.footer-social-networks {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-link {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: Transparent;
  background-repeat: no-repeat;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }

  &:hover {
    background-color: $color_accent;
  }
}
