.photo-block-img {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.galerie-img {
  cursor: pointer;
  &:hover {
    transform: scale(1.15);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
