.header {
  @media screen and (max-width: $mobile) {
    padding-bottom: 40px;
  }
}
.header-nav {
  @media screen and (max-width: $mobile) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  @media screen and (min-width: $desktop) {
    height: 150px;
  }
}

.header-logo {
  &:hover {
    transform: scale(1.05);
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    margin: 25px 520px 0px 520px;
  }

  @media screen and (max-width: $mobile) {
    width: 70px;
    margin-top: 25px;
  }
}

.header-list {
  margin: 0px;
  padding: 0px;
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
  }
  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}
.header-item {
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0em;
  color: var(--color1);
  &:hover {
    transform: scale(1.05);
  }
  @media screen and (max-width: $mobile) {
    margin: 15px 0px 15px 0px;
  }
}

.header-itemNone {
  @media screen and (max-width: 423px) {
    display: none;
  }
}

//Mobile menu
.burger {
  width: 22px;
  height: 22px;
  padding: 0px;
  border: none;
  background-color: transparent;
  fill: var(--color3);
  position: relative;
  z-index: 8;
  @media screen and (min-width: $desktop) {
    display: none;
  }

  .burger__close {
    display: none;
  }
}

.burger.is-open .burger__close {
  display: block;
  fill: var(--color1);
}

.burger.is-open .burger__open {
  display: none;
}

.header-menu {
  @media screen and (max-width: $mobile) {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;

    background-color: var(--color3);
    z-index: 7;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

// Hero
.hero {
  margin-top: -230px;
  height: 780px;
  background-image: url(../images/header-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: $desktop) {
    margin-top: -170px;
    height: 800px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header-overlayay {
    background-image: url(../images/header-bg@2x.jpg);
  }
}

.hero-name {
  padding: 300px 0px 0px 0px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.5em;
  color: var(--color1);
  text-align: center;
  @media screen and (max-width: $mobile) {
    padding: 200px 0px 0px 0px;
  }
}

.hero-title {
  margin: 40px 0px 0px 0px;

  font-family: var(--font2);
  font-size: 96px;
  color: var(--color1);
  text-align: center;
  text-transform: uppercase;
  position: relative;
  @media screen and (max-width: 424px) {
    font-size: 70px;
  }
}

.hero-title:after {
  content: '';
  display: inline-block;
  background-color: var(--color3);
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
}

.hero-time {
  display: inline-block;
  margin: 0px;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  color: var(--color1);
  transform: rotate(-90deg);

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.hero-wrapper {
  text-align: center;
  margin-top: 40px;
  @media screen and (max-width: $mobile) {
    margin-top: 50px;
  }
}

.hero-buttonBook {
  padding: 0px;
  margin-right: 15px;
  border-radius: 5px;
  min-width: 200px;
  height: 60px;
  border: none;

  color: var(--color1);
  background-color: var(--color3);
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: $mobile) {
    margin: 0px;
  }
}

.hero-buttonExplore {
  padding: 0px;
  margin-left: 15px;
  border-radius: 5px;
  min-width: 200px;
  height: 60px;

  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.5);

  color: var(--color1);
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;
  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: $mobile) {
    margin: 30px 0px 0px 0px;
  }
}

.hero-arrow {
  display: block;
  margin: 80px auto 0px auto;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: $mobile) {
    margin: 50px auto 0px auto;
  }
}

.hero-networks {
  width: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: -355px;
  left: 1100px;

  @media screen and (max-width: $mobile) {
    display: none;
  }
}
