.header-section {
  max-height: 800px;
  background-image: url(../images/header-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header-overlayay {
    background-image: url(../images/header-bg@2x.jpg);
  }
}

.header-nav {
  @media screen and (max-width: $mobile) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  @media screen and (min-width: $desktop) {
    height: 150px;
    }
}

.header-logo {
  &:hover {
    transform: scale(1.05);
  }

  @media screen and (min-width: $desktop) {
   position: absolute;
   margin: 25px 520px 0px 520px;
  }

  @media screen and (max-width: $mobile) {
    width: 70px;
  }
}

.header-list {
  margin: 0px;
  padding: 0px;
  @media screen and (min-width: $desktop) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  }
  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}
.header-item {
  font-family: $font_accent;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0em;
  color: $color_white;
  &:hover {
    transform: scale(1.05);
  }
  @media screen and (max-width: $mobile) {
    margin: 15px 0px 15px 0px;
  }
}

.header-name {
  margin: 150px 0px 0px 0px;

  font-family: $font_accent;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.5em;
  color: $color_white;
  text-align: center;
  @media screen and (max-width: $mobile) {
    margin: 100px 0px 0px 0px;
  }
}

.header-title {
  margin: 40px 0px 0px 0px;

  font-family: $font_details;
  font-size: 96px;
  color: $color_white;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.header-title:after {
  content: '';
  display: inline-block;
  background-color: $color_accent;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
}

.header-time {
  display: inline-block;
  margin: 0px;

  position: relative;
  top: -20px;
  left: -80px;

  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $color_white;

  transform: rotate(-90deg);

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.header-button__wrapper {
  text-align: center;
}

.header-button__book {
  padding: 0px;
  margin: 30px 20px 0px 0px;
  border-radius: 5px;
  min-width: 200px;
  height: 60px;
  border: none;

  color: $color_white;
  background-color: $color_accent;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width:$mobile) {
    margin: 50px 0px 0px 0px;
  }
}

.header-button__explore {
  padding: 0px;
  margin-left: 20px;
  border-radius: 5px;
  min-width: 200px;
  height: 60px;

  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.5);

  color: $color_white;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;
  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: $mobile) {
    margin: 30px 0px 0px 0px;
  }
}

.header-arrow {
  display: block;
  margin: 80px auto 0px auto;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: $mobile) {
    margin: 50px auto 0px auto;
  }
}

.header-networks {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: -355px;
  right: -1100px;
}

//Mобильное меню
.header-button__burger{
  width: 22px;
  height: 22px;
  padding: 0px;
  border: none;
  background-color: transparent;
  fill: $color_accent;
  position: relative;
  z-index: 8;
  @media screen and (min-width: $desktop) {
    display: none;
  }

  .header-button__icon--close {
    display: none;
  }
}

.header-button__burger.is-open .header-button__icon--close {
  display: block;
  fill: #ffffff;
}

.header-button__burger.is-open .header-button__icon--burger {
  display: none;
}

.header-menu {
  @media screen and (max-width: $mobile) {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;

    background-color: $color_accent;
    z-index: 7;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
