.modal {
  z-index: 3;
  position: absolute;

  min-width: 310px;

  background-color: #ffffff;
  border-radius: 7px;

  transform: scale(1.05);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: $mobile) {
    width: 375px;
    top: 25%;
    left: 25px;
  }
}

.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.12);
  z-index: 2;
  transition: all 0.8s ease 0s;
  pointer-events: none;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}

.modal-heading {
  font-family: $font_accent;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  display: block;
  margin: 20px 0px 12px 0px;
}

.modal-terms {
  font-family: $font_accent;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;

  display: inline-flex;
  align-items: center;
}

.modal-form {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-form-field {
  position: relative;

  margin-bottom: 10px;

  display: flex;
  flex-direction: column;

  & input,
  textarea {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 5px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & textarea {
    margin: 0px;
    padding: 15px;
    height: 120px;

    &::placeholder {
      font-weight: 300px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }

    &:hover,
    &:focus {
      border: 1px solid $color_accent;
    }
  }
  & label {
    font-family: $font_accent;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: #000000;

    text-align: left;
    margin-bottom: 4px;
  }
  & input {
    height: 40px;

    &:hover,
    &:focus {
      border: 1px solid $color_accent;
    }
  }
  &:hover {
    .icon-modal-name {
      fill: $color_accent;
    }
  }
}

.modal-button-send {
  padding: 0px;
  margin-right: 20px;
  border-radius: 5px;
  min-width: 200px;
  height: 60px;
  border: none;

  color: $color_white;
  background-color: $color_accent;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.67;

  margin-top: 40px;
  margin-bottom: 40px;
}

body.show-modal .modal-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.modal-close {
  position: relative;
  right: -185px;
  top: 10px;
  font-family: Verdana;
  font-style: normal;
  font-size: 20px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: $color_accent;
  }

  @media screen and (max-width: $mobile) {
    right: -165px;
  }
}
