.our-team-overlay {
  height: 675x;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/team-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .our-team-overlay {
    background-image: url(../images/team-bg@2x.jpg);
  }
}

.our-team-img {
  margin-right: 80px;
}

.our-team-container {
  padding: 100px 0px 100px 0px;
}

.our-team-title {
  margin: 0px;
  text-align: center;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: $color_white;
}

.our-team-name {
  margin: 40px 0px 0px 0px;
  font-family: $font_details;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.33;
  color: $color_white;
  position: relative;
}

.our-team-name:after {
  content: '';
  display: inline-block;
  background-color: $color_accent;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
}

.our-team-orange-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.our-team-subtitle,
.our-team-paragraf {
  margin: 40px 0px 0px 0px;
  color: $color_white;
  font-family: $font_accent;
  font-size: 14px;
  line-height: 1.56;
}

.our-team-text-block {
  width: 600px;
  text-align: center;
}

.our-team-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
