.team-section {
  padding: 100px 0px 100px 0px;
  @media screen and (max-width: $mobile) {
    padding: 50px 0px 50px 0px;
  }
}

.team-overlay {
  height: 675x;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/team-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .our-team-overlay {
    background-image: url(../images/team-bg@2x.jpg);
  }
}

.team-wrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team-content {
  text-align: center;
}

.team-content__title{
  margin: 0px;
  color: $color_white;
  position: relative;
}

.team-content__subtitle,
.team-content__paragraf {
  color: $color_white;
}

.team-content__paragraf {
  margin: 20px 0px 0px 0px;
}
.team-content__subtitle{
  margin: 40px 0px 0px 0px;
}




