.events-overlay {
  height: 675x;
  background-image: url(../images/event-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .our-team-overlay {
    background-image: url(../images/event-bg@2x.jpg);
  }
}

.events-section{
  padding: 100px 0px 100px 0px;

  @media screen and (max-width: $mobile) {
    padding: 50px 0px 50px 0px;
    position: relative;
  }
}

.events-title {
  margin: 0px;
  text-align: center;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: $color_white;
}
.events-weddings {
  display: inline;
  margin: 0px;
  font-family: $font_details;
  font-size: 24px;
  line-height: 0.5;
  text-align: center;
  text-transform: uppercase;
  color: $color_white;
  transform: rotate(+90deg);

  position: absolute;
  top: 100px;
  left: 475px;

  @media screen and (max-width: $mobile) {
    position: absolute;
    top: 150px;
    left: 280px;
    font-size: 20px;
  }
}

.events-parties {
  display: inline;
  margin: 0px;
  font-family: $font_details;
  font-size: 24px;
  line-height: 0.5;
  text-align: center;
  text-transform: uppercase;
  color: $color_white;
  transform: rotate(-90deg);

  position: absolute;
  top: 195px;
  left: 530px;

  @media screen and (max-width: $mobile) {
    position: absolute;
    top: 500px;
    left: -60px;
    font-size: 20px;
  }
}

.events-wrapper {
  @media screen and (min-width: 426px) {
    display: flex;
    justify-content: center;
    position: relative;
  }
}
.events-tel {
  margin: 10px 0px 0px 0px;

  font-family: $font_accent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $color_white;

  @media screen and (max-width: $mobile) {
    font-size: 10px;
    margin: 30px 0px 0px 0px;
  }
}
