.specialties-overlay {
  height: 675x;
  background-image: url(../images/event-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .our-team-overlay {
    background-image: url(../images/event-bg@2x.jpg);
  }
}

.specialties-section {
  padding: 100px 0px 100px 0px;
  @media screen and (max-width: 425px) {
    padding: 50px 0px 50px 0px;
  }
}

.specialties-img {
  @media screen and (min-width: 426px) {
    margin-right: 80px;
  }
}

.specialties-title {
  margin: 0px;
  text-align: center;
  font-family: $font_accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: $color_white;
}

.specialties-name {
  margin: 40px 0px 0px 0px;
  font-family: $font_details;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.33;
  color: $color_white;
  text-transform: uppercase;
  position: relative;
}

.specialties-name:after {
  content: '';
  display: inline-block;
  background-color: #e8c300;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
}

.specialties-subtitle {
  margin-top: 40px;
}

.specialties-paragraf {
  margin: 30px 0px 0px 0px;
}

.specialties-subtitle,
.specialties-paragraf {
  color: $color_white;
  font-family: $font_accent;
  font-size: 14px;
  line-height: 1.56;
}

.specialties-text-block {
  width: 600px;
  text-align: center;
  @media screen and (max-width: 425px) {
    width: 375px;
  }
}

.specialties-block {
  @media screen and (min-width: 426px) {
    display: flex;
    justify-content: center;
  }
}

.specialties-orange-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

// slider
.specialties-slider-controls {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 425px) {
    margin: 20px 0px 0px 0px;
  }
}

.specialties-slider-controls-dot {
  width: 10px;
  height: 10px;
  background: $color_white;
  opacity: 0.7;
  border-radius: 50%;
  border: transparent;
  cursor: pointer;
  transition: all 250ms $cubic;
  &:not(:last-child) {
    margin-right: 18px;
  }
  &.active {
    &.specialties-slider-controls-dot {
      width: 10px;
      height: 10px;
      background: $color_accent;
      opacity: 0.7;
      border-radius: 50%;
      border: transparent;
      cursor: pointer;
      transition: all 250ms $cubic;
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }
}

.specialties-slide {
  animation-name: animate-review;
  animation-duration: 500ms;
}
