.specialties-section {
  padding: 100px 0px 100px 0px;
  @media screen and (max-width: $mobile) {
    padding: 50px 0px 50px 0px;
  }
}

.specialties-overlay {
  height: 675x;
  background-image: url(../images/event-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .our-team-overlay {
    background-image: url(../images/event-bg@2x.jpg);
  }
}

.specialties-content__title {
  margin: 0px;
  color: $color_white;
  position: relative;
}


.specialties-content__subtitle {
  margin: 40px 0px 0px 0px;
}

.specialties-content__paragraf {
  margin: 20px 0px 0px 0px;
}

.specialties-content__subtitle,
.specialties-content__paragraf {
  color: $color_white;
}

.specialties-content {
  text-align: center;
}

.specialties-wrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


// slider
.specialties-slider {
  display: flex;
  justify-content: center;
  @media screen and (max-width: $mobile) {
    margin: 20px 0px 0px 0px;
  }
}

.specialties-slider__dot {
  width: 10px;
  height: 10px;
  background: $color_white;
  opacity: 0.7;
  border-radius: 50%;
  border: transparent;
  cursor: pointer;
  transition: all 250ms $cubic;
  &:not(:last-child) {
    margin-right: 20px;
  }
  &.active {
    &.specialties-slider__dot {
      background: $color_accent;
    }
  }
}
