$mobile: 1279px;
$desktop: 1280px;

:root {
  --color1: #ffffff;
  --color2: #000000;
  --color3: #e8c300;
  --color4: #e5e5e5;
  --color5: #333333;
  --font1: 'Open Sans', normal;
  --font2: 'Architects Daughter';
  --cubic: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
