$color_white: #ffffff;
$color_black: #000000;
$color_accent: #e8c300;
$color_grey: #e5e5e5;
$color_grey_accent: #333333;

$font_accent: 'Open Sans', normal;
$font_details: 'Architects Daughter';
$mobile: 1279px;
$desktop: 1280px;
$cubic: cubic-bezier(0.17, 0.67, 0.83, 0.67);
