<section id="about" class="container">
  <div class="about-us-block">
    <div>
      <h2 class="about-us-title">About us</h2>
      <div class="about-us-text-block">
        <h3 class="about-us-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie
          est a, tempor magna.
        </h3>
        <p class="about-us-paragraf">
          Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices
          ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin
          lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis
          semper laoreet.
        </p>
      </div>
    </div>
    <div>
      <img
        class="about-us-img"
        srcset="./images/aboutus@2x.png 2x"
        src="./images/aboutus.png"
        alt="About us"
        width="475"
      />
    </div>
  </div>
</section>
