<section id="about" class="about-section" >
  <div class="container">
  <div class="about-wrapper">
      <div class="about-content">
        <h2 class="about-content__title title ">About us</h2>
        <p class="about-content__subtitle subtitle"><b>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie
          est a, tempor magna.
        </b></p>
        <p class="about-content__paragraph paragraph">
          Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices
          ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin
          lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis
          semper laoreet.
        </p>
      </div>
      <img
        class="about-img"
        srcset="./images/aboutus@2x.png 2x"
        src="./images/aboutus.png"
        alt="About us"
        width="600"
        height="475"
      />
  </div>
</section>
