<section id="BOOKING" class="container">
  <div class="book-section">
    <div class="book-block">
      <div class="book-block-form">
        <h3 class="book-title">book a table</h3>
        <img class="our-team-orange-line" src="./images/orange-line.png" alt="" width="60" />
        <form class="book-form" id="search-form">
          <input
            class="book-input-name"
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Name"
          />
          <input
            class="book-input-email"
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Email"
          />
          <input
            class="book-input-phone"
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Phone"
          />
          <input
            class="book-input-people"
            type="text"
            name="query"
            autocomplete="off"
            placeholder="People"
          />
          <input
            class="book-input-date"
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Date (mm/dd)"
          />
          <input
            class="book-input-time"
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Time"
          />
          <button data-modal-open class="book-button">BOOK NOW</button>
        </form>
      </div>
      <div>
        <img
          class="book-img"
          srcset="./images/book@2x.png 2x"
          src="./images/book.png"
          alt="Book a table"
          width="475"
        />
      </div>
    </div>
    <p class="book-inscription">
      Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM, Phone:
      <span><a href="tel:+40 729 131 637" class="book-tel">+40 729 131 637</a></span>
    </p>
  </div>
  <a href="#" class="scrollup"></a>
</section>
