<section id="contact" class="container">
  <div class="contact-block">
    <h2 class="contact-title">CONTACT</h2>
    <img class="contact-orange-line" src="./images/orange-line.png" alt="orange-line" width="60" />

    <p class="contact-paragraf">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est
      a, tempor magna.
    </p>
    <form
      class="contact-form"
      id="contact-form"
      action="https://formspree.io/f/xzbyvrvz"
      method="POST"
    >
      <div class="contact-form-block">
        <input
          class="contact-input-name"
          type="text"
          name="name"
          placeholder="Name"
          pattern="^[a-zA-Zа-яА-Я]+(([' -][a-zA-Zа-яА-Я ])?[a-zA-Zа-яА-Я]*)*$"
          title="The name can only consist of letters, apostrophes, dashes and spaces. For example Adrian, Jacob Mercer, Charles de Batz de Castelmore d'Artagnan, etc required"
        />
        <input
          class="contact-input-email"
          type="text"
          name="email"
          placeholder="Email"
          title="Enter your email "
          required
        />
        <input
          class="contact-input-phone"
          type="tel"
          name="tel"
          placeholder="Phone"
          pattern="(\+?( |-|\.)?\d{1,2}( |-|\.)?)?(\(?\d{3}\)?|\d{3})( |-|\.)?(\d{3}( |-|\.)?\d{4})"
          title="Phone number must be 11-12 digits long and can contain numbers, spaces, dashes, pot-bellied brackets and can start with +"
          required
        />
      </div>
      <input class="contact-input-message" type="text" name="text" placeholder="Message" />
      <div class="contact-data">
        <div class="contact-data-block">
          <div class="contact-icon-block">
            <svg class="icon-location" width="16px" height="12px">
              <use href="./images/sprite.svg#icon-location"></use>
            </svg>
            <p class="contact-data-title">London SW1A 0AA</p>
          </div>
          <div class="contact-icon-block">
            <svg class="icon-phone" width="16px" height="12px">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
            <a href="tel:+40729131637" class="contact-data-title">+40 729 131 637</a>
          </div>
          <div class="contact-icon-block">
            <svg class="icon-envelop" width="16px" height="12px">
              <use href="./images/sprite.svg#icon-envelop"></use>
            </svg>
            <a href="" class="contact-data-title">office@mindblister.com </a>
          </div>
        </div>
        <button data-modal-open class="book-button" id="contact-form-button">SEND MESSAGE</button>
      </div>
      <p class="contact-message" id="contact-form-status"></p>
    </form>
  </div>
</section>
