<section id="contact" class="contact-section">
  <div class="container">
    <h2 class="contact-title title">Contact</h2>
    <h3 class="contact-paragraf paragraf">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est
      a, tempor magna.
    </h3>
    <form
      class="contact-form"
      id="contact-form"
      action="https://formspree.io/f/xzbyvrvz"
      method="POST"
    >
      <div class="contact-form__wrapper">
        <input
          class="contact-form__input"
          type="text"
          name="name"
          placeholder="Name"
          title="The name can only consist of letters, apostrophes, dashes and spaces. For example Adrian, Jacob Mercer, Charles de Batz de Castelmore d'Artagnan, etc required"
        />
        <input
          class="contact-form__input"
          type="text"
          name="email"
          placeholder="Email"
          title="Enter your email "
          required
        />
        <input
          class="contact-form__input"
          type="tel"
          name="tel"
          placeholder="Phone"
          title="Phone number must be 11-12 digits long and can contain numbers, spaces, dashes, pot-bellied brackets and can start with +"
          required
        />
      </div>
      <input class="contact-form__input--message" type="text" name="text" placeholder="Message" />
      <div class="contact-footer">
        <address class="contact-adress">
          <div class="contact-adress__wrapping">
            <svg class="contact-adress__icon" width="16px" height="12px">
              <use href="./images/sprite.svg#icon-location"></use>
            </svg>
            <p class="contact-adress__text">London SW1A 0AA</p>
          </div>
          <div class="contact-adress__wrapping">
            <svg class="contact-adress__icon" width="16px" height="12px">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
            <a href="tel:+40729131637" class="contact-adress__text">+40 729 131 637</a>
          </div>
          <div class="contact-adress__wrapping">
            <svg class="contact-adress__icon" width="16px" height="12px">
              <use href="./images/sprite.svg#icon-envelop"></use>
            </svg>
            <a href="" class="contact-adress__text">office@mindblister.com </a>
          </div>
      </address>
        <button data-modal-open class="contact-button" id="contact-form-button">
          SEND MESSAGE
        </button>
      </div>
      <p class="contact-message" id="contact-form-status"></p>
    </form>
  </div>
  <iframe
  class="contact-map"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317840.9242338966!2d-0.18540522462348105!3d51.51079021335804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2z0JvQvtC90LTQvtC9LCDQktC10LvQuNC60L7QsdGA0LjRgtCw0L3QuNGP!5e0!3m2!1sru!2sua!4v1624517949783!5m2!1sru!2sua"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
></iframe> 
</section>
