<section id="CONTACT" class="container">
  <div class="contact-block">
    <h2 class="contact-title">CONTACT</h2>
    <p class="contact-paragraf">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est
      a, tempor magna.
    </p>
    <form class="contact-form" id="search-form">
      <div class="contact-form-block">
        <input
          class="contact-input-name"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Name"
        />
        <input
          class="contact-input-email"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Email"
        />
        <input
          class="contact-input-phone"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Phone"
        />
      </div>
      <input
        class="contact-input-message"
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Message"
      />
      <div class="contact-data">
        <div class="contact-data-block">
          <p class="contact-data-title">5th London Boulevard, U.K.</p>
          <p class="contact-data-title">+40 729 131 637/+40 726 458 782</p>
          <p class="contact-data-title">office@mindblister.com</p>
        </div>
        <button data-modal-open class="book-button">SEND MESSAGE</button>
      </div>
    </form>
  </div>
</section>
