<section class="container">
  <div class="delicious-section">
    <div class="delicious-block">
      <h2 id="MENU" class="delicious-title">DELICIOUS MENU</h2>
      <img class="delicious-orange-line" src="./images/orange-line.png" alt="" width="60" />
      <p class="delicious-paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est
        a, tempor magna.
      </p>
    </div>
    <div class="tabs" id="tabs-1">
      <div class="controls" data-controls>
        <a href="#SOUPE" class="controls__item">SOUPE</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#PIZZA" class="controls__item">PIZZA</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#PASTA" class="controls__item">PASTA</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#DESERT" class="controls__item">DESERT</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#WINE" class="controls__item">WINE</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#BEER" class="controls__item">BEER</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#DRINKS" class="controls__item">DRINKS</a>
      </div>

      <div class="panes" data-panes>
        <div class="pane" id="SOUPE">
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">SOUPE CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">SOUPE BEEF . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">SOUPE MUSHROOM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">SOUPE ONION . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">SOUPE TOMATO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">SOUPE PUMPKIN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">SOUPE CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">SOUPE GASPACHO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">SOUPE CHICKEN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>

        <div class="pane" id="PIZZA">
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">PIZZA CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">PIZZA BEEF . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">PIZZA MUSHROOM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">PIZZA ONION . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">PIZZA TOMATO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">PIZZA PUMPKIN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">PIZZA CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">PIZZA GASPACHO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">PIZZA CHICKEN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>

        <div class="pane" id="PASTA">
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">PASTA CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">PASTA BEEF . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">PASTA MUSHROOM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">PASTA ONION . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">PASTA TOMATO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">PASTA PUMPKIN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">PASTA CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">PASTA GASPACHO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">PASTA CHICKEN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>
        <div class="pane" id="DESERT">
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">DESERT CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">DESERT BEEF . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">DESERT MUSHROOM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">DESERT ONION . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">DESERT TOMATO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">DESERT PUMPKIN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">DESERT CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">DESERT GASPACHO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">DESERT CHICKEN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>
        <div class="pane" id="WINE">
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">WINE CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">WINE BEEF . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">WINE MUSHROOM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">WINE ONION . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">WINE TOMATO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">WINE PUMPKIN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">WINE CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">WINE GASPACHO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">WINE CHICKEN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>
        <div class="pane" id="BEER">
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">BEER CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">BEER BEEF . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">BEER MUSHROOM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">BEER ONION . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">BEER TOMATO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">BEER PUMPKIN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">BEER CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">BEER GASPACHO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">BEER CHICKEN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>
        <div class="pane" id="DRINKS">
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">DRINKS CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">DRINKS BEEF . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">DRINKS MUSHROOM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">DRINKS ONION . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">DRINKS TOMATO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">DRINKS PUMPKIN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
          <div class="a">
            <div>
              <p class="delicious-list-dish pane__text">DRINKS CREAM . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div class="delicious-block-paragraf">
              <p class="delicious-list-dish pane__text">DRINKS GASPACHO . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-list-dish pane__text">DRINKS CHICKEN . . . . 55,68</p>
              <p class="delicious-list-description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
