<section class="delicious-section">
  <div class="container">
    <div class="delicious-header">
      <h2 class="delicious-title title" id="menu">DELICIOUS MENU</h2>
      <p class="delicious-paragraph paragraph"><b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est
        a, tempor magna.
      </b></p>
    </div>
    <div class="delicious-tabs" id="delicious-tabs-1">
      <div class="delicious-tabs__menu" data-controls>
        <a href="#SOUPE" class="delicious-tabs__item">SOUPE</a>
        <a href="#PIZZA" class="delicious-tabs__item">PIZZA</a>
        <a href="#PASTA" class="delicious-tabs__item">PASTA</a>
        <a href="#DESERT" class="delicious-tabs__item">DESERT</a>
        <a href="#WINE" class="delicious-tabs__item">WINE</a>
        <a href="#BEER" class="delicious-tabs__item">BEER</a>
        <a href="#DRINKS" class="delicious-tabs__item">DRINKS</a>
      </div>

      <div delicious-data>
        <div class="delicious-tabs__id" id="SOUPE">
          <div class="delicious-tabs__wrapper">
            <div>
              <p class="delicious-tabs__dish">SOUPE CREAM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">SOUPE BEEF . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">SOUPE MUSHROOM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>

        <div class="delicious-tabs__id" id="PIZZA">
          <div class="delicious-tabs__wrapper">
            <div>
              <p class="delicious-tabs__dish">PIZZA CREAM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">PIZZA BEEF . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">PIZZA MUSHROOM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>

        <div class="delicious-tabs__id" id="PASTA">
          <div class="delicious-tabs__wrapper">
            <div>
              <p class="delicious-tabs__dish">PASTA CREAM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">PASTA BEEF . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">PASTA MUSHROOM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>

        <div class="delicious-tabs__id" id="DESERT">
          <div class="delicious-tabs__wrapper">
            <div>
              <p class="delicious-tabs__dish">DESERT CREAM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">DESERT BEEF . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">DESERT MUSHROOM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>

        <div class="delicious-tabs__id" id="WINE">
          <div class="delicious-tabs__wrapper">
            <div>
              <p class="delicious-tabs__dish">WINE CREAM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">WINE BEEF . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">WINE MUSHROOM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>

        <div class="delicious-tabs__id" id="BEER">
          <div class="delicious-tabs__wrapper">
            <div>
              <p class="delicious-tabs__dish">BEER CREAM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">BEER BEEF . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">BEER MUSHROOM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>

        <div class="delicious-tabs__id" id="DRINKS">
          <div class="delicious-tabs__wrapper">
            <div>
              <p class="delicious-tabs__dish">DRINKS CREAM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">DRINKS BEEF . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
            <div>
              <p class="delicious-tabs__dish">DRINKS MUSHROOM . . . . 55,68</p>
              <p class="delicious-tabs__description">
                USD Integer ullamcorper neque eu purus euismod
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
