<section class="container">
  <div class="delicious-section">
    <div class="delicious-block">
      <h2 id="MENU" class="delicious-title">DELICIOUS MENU</h2>
      <img class="delicious-orange-line" src="./images/orange-line.png" alt="" width="60" />
      <p class="delicious-paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est
        a, tempor magna.
      </p>
    </div>
    <div class="tabs" id="tabs-1">
      <div class="controls" data-controls>
        <a href="#SOUPE" class="controls__item">SOUPE</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#PIZZA" class="controls__item">PIZZA</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#PASTA" class="controls__item">PASTA</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#DESERT" class="controls__item">DESERT</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#WINE" class="controls__item">WINE</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#BEER" class="controls__item">BEER</a>
        <img
          class="delicious-menu-line"
          src="./images/menu-line.png"
          alt=""
          width="1"
          height="50"
        />
        <a href="#DRINKS" class="controls__item">DRINKS</a>
      </div>

      <div class="panes" data-panes>
        <div class="pane" id="SOUPE">
          <p class="delicious-list-dish pane__text">PIZZA QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">PIZZA QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">PIZZA QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
        </div>

        <div class="pane" id="PIZZA">
          <p class="delicious-list-dish pane__text">PIZZA QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">PIZZA QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">PIZZA QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
        </div>

        <div class="pane" id="PASTA">
          <p class="delicious-list-dish pane__text">PASTA QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">PASTA QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">PASTA QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="pane" id="DESERT">
          <p class="delicious-list-dish pane__text">DESERT QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">DESERT QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">DESERT QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="pane" id="WINE">
          <p class="delicious-list-dish pane__text">WINE QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">WINE QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">WINE QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="pane" id="BEER">
          <p class="delicious-list-dish pane__text">BEER QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">BEER QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">BEER QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="pane" id="DRINKS">
          <p class="delicious-list-dish pane__text">DRINKS QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">DRINKS QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
          <p class="delicious-list-dish pane__text">DRINKS QUATRO STAGIONI . . . . 55,68</p>
          <p class="delicious-list-description">USD Integer ullamcorper neque eu purus euismod</p>
        </div>
      </div>
    </div>
  </div>
</section>
