<section class="container">
  <img class="footer-map" src="./images/map.jpg" alt="" width="" />
  <footer class="footer-block">
    <div class="footer-social-networks">
      <a href="" class="footer-link">
        <img class="header-icons-fb" src="./images/fb.png" alt="" width="20" />
      </a>
      <a href="" class="footer-link">
        <img class="header-icons-twit" src="./images/twit.png" alt="" width="" />
      </a>
      <a href="" class="footer-link">
        <img class="header-icons-insta" src="./images/insta.png" alt="" width="" />
      </a>
    </div>
    <p class="footer-copyright">© Restaurant HUNGRY PEOPLE 2021</p>
  </footer>
</section>
