<section class="container">
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317840.9242338966!2d-0.18540522462348105!3d51.51079021335804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2z0JvQvtC90LTQvtC9LCDQktC10LvQuNC60L7QsdGA0LjRgtCw0L3QuNGP!5e0!3m2!1sru!2sua!4v1624517949783!5m2!1sru!2sua"
      width="1190"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <footer class="footer-block">
    <div class="footer-social-networks">
      <a href="" class="footer-link">
        <img class="header-icons-fb" src="./images/fb.png" alt="" width="20" />
      </a>
      <a href="" class="footer-link">
        <img class="header-icons-twit" src="./images/twit.png" alt="" width="" />
      </a>
      <a href="" class="footer-link">
        <img class="header-icons-insta" src="./images/insta.png" alt="" width="" />
      </a>
    </div>
    <p class="footer-copyright">© Restaurant HUNGRY PEOPLE 2021</p>
  </footer>
</section>
