  <footer class="footer-section ">
    <div class="container">    
      <div class="footer-networks">
      <a href="" class="networks-link">
        <img  src="./images/fb.png" alt="Facebbok link" width="18" height="18" />
      </a>
      <a href=""  class="networks-link">
        <img  src="./images/twit.png" alt="Twitter link" width="18" height="18" />
      </a>
      <a href="" class="networks-link">
        <img  src="./images/insta.png" alt="Instagram link" width="18" height="18" />
      </a>
    </div>
    <p class="footer-copyright">&#169; Restaurant HUNGRY PEOPLE 2021</p>
    </div>
  </footer>
