<section id="gallery" class="gallery-section">
    <div class="gallery-row">
    <img
      class="gallery-img"
      srcset="./images/events3@2x.jpg 2x"
      src="./images/events3.jpg"
      alt="gallery"
      width="295"
      height="295"
    />
    <img
      class="gallery-img"
      srcset="./images/events4@2x.jpg 2x"
      src="./images/events4.jpg"
      alt="gallery"
      width="295"
      height="295"
    />
    <img

      class="gallery-img"
      srcset="./images/events5@2x.jpg 2x"
      src="./images/events5.jpg"
      alt="gallery"
      width="295"
      height="295"
    />
    <img

      class="gallery-img"
      srcset="./images/events6@2x.jpg 2x"
      src="./images/events6.jpg"
      alt="gallery"
      width="295"
      height="295"
    />
    </div>
  
  <div id="gallery-modal" class="gallery-modal">
    <span class="gallery-modal__close" >&times;</span>
      <img
        srcset="./images/events3@2x.jpg 2x"
        src="./images/events-big3.jpg"
        alt="gallery"
        width="550"
        height="550"
        class="gallery-modal__slide"
      />
      <img
        srcset="./images/events4@2x.jpg 2x"
        src="./images/events-big4.jpg"
        alt="gallery"
        width="550"
        height="550"
        class="gallery-modal__slide"
      />
      <img
        srcset="./images/events5@2x.jpg 2x"
        src="./images/events-big5.jpg"
        alt="gallery"
        width="550"
        height="550"
        class="gallery-modal__slide"
      />
      <img
        srcset="./images/events6@2x.jpg 2x"
        src="./images/events-big6.jpg"
        alt="gallery"
        width="550"
        height="550"
        class="gallery-modal__slide"
      />
      <span class="gallery-modal__prev" >&#10094;</span>
      <span class="gallery-modal__next" >&#10095;</span>
</div>
</section>
