<section class="container header-section header-overlay">
  <nav class="header-nav">
    <ul class="header-list">
      <li class="header-list-left">
        <a href="">HOME</a>
      </li>
      <li class="header-list-left"><a href="#ABOUT" name="">ABOUT</a></li>
      <li class="header-list-left"><a href="#TEAM">TEAM</a></li>
      <li class="header-list-left"><a href="#BOOKING">BOOKING</a></li>
    </ul>
    <img class="logo" src="./images/logo.png" alt="Logo" width="150" />
    <ul class="header-list">
      <li class="header-list-right"><a href="#MENU">MENU</a></li>
      <li class="header-list-right"><a href="#EVENTS">EVENTS</a></li>
      <li class="header-list-right"><a href="#GALERIE">GALERIE</a></li>
      <li class="header-list-right"><a href="#CONTACT">CONTACT</a></li>
    </ul>
  </nav>
  <img class="header-horizontal-line-left" src="./images/horizontal-line.png" alt="" width="480" />
  <img class="header-horizontal-line-right" src="./images/horizontal-line.png" alt="" width="480" />
  <img class="header-vertical-line-left" src="./images/vertical-line.png" alt="" width="1" />
  <img class="header-vertical-line-center" src="./images/vertical-line.png" alt="" width="1" />
  <p class="header-institution">RESTAURANT</p>
  <h1 class="header-name">hungry people</h1>
  <img class="header-vertical-line-right" src="./images/vertical-line.png" alt="" width="1" />
  <img class="header-orange-line" src="./images/orange-line.png" alt="" width="60" />
  <p class="header-inscription">Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
  <div class="header-button-block">
    <a href="#BOOKING"><button data-modal-open class="header-button-book">BOOK TABLE</button></a>
    <button data-modal-open class="header-button-explore">EXPLORE</button>
  </div>
  <a href="#MENU" name="">
    <img class="header-arrow-to-down" src="./images/down-btn.png" alt="" width="60" />
  </a>
  <div class="header-social-networks">
    <a href="" class="header-link-fb">
      <img class="header-icons-fb" src="./images/fb.png" alt="" width="20" />
    </a>
    <a href="" class="header-link-twit">
      <img class="header-icons-twit" src="./images/twit.png" alt="" width="" />
    </a>
    <a href="" class="header-link-insta">
      <img class="header-icons-insta" src="./images/insta.png" alt="" width="" />
    </a>
  </div>
</section>
