<header class="header">
<div class="container">
  <nav class="header-nav">
    <a class="header-logo" href="index.html"><img src="./images/logo.png" width="150px"/>
    </a>
    <button class="burger" aria-controls="header-menu-container" aria-expanded="false" type="button" data-menu-button>
    <svg width="22" height="22" aria-label="Mobile menu">
      <use class="burger__close" href="./images/sprite2.svg#header-close"></use>
      <use class="burger__open" href="./images/sprite2.svg#header-burger"></use>
    </svg>
    </button>
    <div class="header-menu" data-menu>
      <ul class="header-list">
        <li class="header-item"><a href="">HOME</a></li>
        <li class="header-item"><a href="#about">ABOUT</a></li>
        <li class="header-item"><a href="#team">TEAM</a></li>
        <li class="header-item"><a href="#booking">BOOKING</a></li>
      </ul>
      <ul class="header-list">
        <li class="header-item header-itemNone"><a href="#menu">MENU</a></li>
        <li class="header-item header-itemNone"><a href="#events">EVENTS</a></li>
        <li class="header-item header-itemNone"><a href="#galerie">GALERIE</a></li>
        <li class="header-item"><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
</nav>
<div>
</header>

<!-- Hero -->
<section class="hero">
  <div class="container">
    
<p class="hero-name">RESTAURANT</p>
<h1 class="hero-title">Hungry people</h1>
<p class="hero-time">Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
<div class="hero-wrapper">
  <button data-modal-open class="hero-buttonBook" data-action="modal-open">BOOK TABLE</button>
  <button class="hero-buttonExplore">EXPLORE</button>
</div>  
<a href="#menu">
  <img class="hero-arrow" src="./images/down-btn.png" alt="arrow" width="60" height="60"/>
</a>
<div class="hero-networks">
  <a href="" class="networks-link">
    <img  src="./images/fb.png" alt="Facebbok link" width="18" height="18" />
  </a>
  <a href="" class="networks-link">
    <img  src="./images/twit.png" alt="Facebbok link" width="18" height="18" />
  </a>
  <a href="" class="networks-link">
    <img  src="./images/insta.png" alt="Instagram link" width="18" height="18" />
  </a>
</div>
  </div>
</section>

<!-- Modal -->
<div class="backdrop">
  <div class="modal">
      <p href="" class="modal-close" data-action="modal-close">x</p>
      <form
        class="modal-form"
        id="modal-form"
        action="https://formspree.io/f/xzbyvrvz"
        method="POST">
        <b class="modal-form__title">Leave your details, we will call you back</b>
        <input type="text" name="name" placeholder="Name" id="name" required />
        <input type="text" name="phone" placeholder="Phone" id="tel" required/>
        <button type="submit" class="modal-button__send">Send</button>
        <p id="modal-form__status"></p>
      </form>
  </div>
</div>