<section class="container header-section header-overlay">
  <nav class="header-nav">
    <ul class="header-list">
      <li class="header-list-left">HOME</li>
      <li class="header-list-left">ABOUT</li>
      <li class="header-list-left">TEAM</li>
      <li class="header-list-left">BOOKING</li>
    </ul>
    <img class="logo" src="./images/logo.png" alt="About us" width="150" />
    <ul class="header-list">
      <li class="header-list-right">MENU</li>
      <li class="header-list-right">GALERIE</li>
      <li class="header-list-right">EVENTS</li>
      <li class="header-list-right">CONTACT</li>
    </ul>
  </nav>
  <p class="header-institution">RESTAURANT</p>
  <h1 class="header-name">hungry people</h1>
  <p class="header-inscription">Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
  <div class="header-button-block">
    <button data-modal-open class="header-button-book">BOOK TABLE</button>
    <button data-modal-open class="header-button-explore">EXPLORE</button>
  </div>
  <a href="">
    <img class="header-arrow-to-down" src="./images/down-btn.png" alt="About us" width="60" />
  </a>
  <div class="header-social-networks">
    <a href="" class="header-link-fb">
      <img class="header-icons-fb" src="./images/fb.png" alt="" width="20" />
    </a>
    <a href="" class="header-link-twit">
      <img class="header-icons-twit" src="./images/twit.png" alt="" width="" />
    </a>
    <a href="" class="header-link-insta">
      <img class="header-icons-insta" src="./images/insta.png" alt="" width="" />
    </a>
  </div>

  <!-- </div> -->
</section>
