<section id="team" class="team-overlay team-section">
  <div class="container">
    <p class="name">Our team</p>
    <div class="team-wrapper">
        <img
          class="team-img"
          srcset="./images/team1@2x.png 2x"
          src="./images/team1.png"
          alt="Our team"
          width="600"
          height="475"
        />
      <div class="team-content">
        <h2 class="team-content__title title">MASTER CHEF</h2>
        <h3 class="team-content__subtitle subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie
          est a, tempor magna.
        </h3>
        <p class="team-content__paragraf paragraf">
          Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices
          ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin
          lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis
          semper laoreet.
        </p>
      </div>
    </div>
  </div>
</section>
