<section id="team" class="container our-team-overlay">
  <div class="our-team-container">
    <p class="our-team-title">Our team</p>
    <div class="our-team-block">
      <div>
        <img
          class="our-team-img"
          srcset="./images/team1@2x.png 2x"
          src="./images/team1.png"
          alt="Our team"
          width="475"
        />
      </div>
      <div class="our-team-text-block">
        <h2 class="our-team-name">MASTER CHEF</h2>
        <h3 class="our-team-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie
          est a, tempor magna.
        </h3>
        <p class="our-team-paragraf">
          Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices
          ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin
          lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis
          semper laoreet.
        </p>
      </div>
    </div>
  </div>
</section>
