<section class="container our-team-overlay">
  <div class="our-team-block">
    <div>
      <img class="our-team-img" src="./images/team1.png" alt="About us" width="350" />
    </div>
    <div class="our-team-text-block">
      <p class="our-team-title">Our team</p>
      <h2 class="our-team-name">MASTER CHEF</h2>
      <h3 class="our-team-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est
        a, tempor magna.
      </h3>
      <p class="our-team-paragraf">
        Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices
        ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin
        lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper
        laoreet.
      </p>
    </div>
  </div>
</section>
