<section id="events" class="container events-overlay">
  <div class="events-block">
    <h2 class="events-title">PRIVATE EVENTS</h2>
    <div class="events-block-img">
      <img
        class="book-img"
        srcset="./images/events2@2x.png 2x"
        src="./images/events2.png"
        alt="Private events"
        width="475"
      />
      <p class="events-weddings">weddings</p>
      <p class="events-parties">corporate parties</p>
      <img
        class="book-img"
        srcset="./images/events1@2x.png 2x"
        src="./images/events1.png"
        alt="Private events"
        width="475"
      />
    </div>
    <p class="events-inscription">
      For private events please call:
      <span><a href="tel:+40729131637"> +40 729 131 637 </a></span> or use the contact form.
    </p>
  </div>
</section>
