<section id="events" class="events-section events-overlay">
  <div class="container">
    <h2 class="name">PRIVATE EVENTS</h2>
    <div class="events-wrapper">

      <img
        srcset="./images/events2@2x.png 2x"
        src="./images/events2.png"
        alt="Private events"
        width="600"
        height="475"
      />
      <h3 class="events-weddings">weddings</h3>


      <h3 class="events-parties">corporate parties</h3>
      <img
        srcset="./images/events1@2x.png 2x"
        src="./images/events1.png"
        alt="Private events"
        width="600"
        height="475"
      />

    </div>
    <p class="events-tel">
      For private events please call:
      <span><a href="tel:+40729131637"> +40 729 131 637 </a></span> or use the contact form.
    </p>
  </div>
</section>
