<section id="EVENTS" class="container events-overlay">
    <div class="events-block">
  <h2 class="events-title">PRIVATE EVENTS</h2>
  <div class="events-block-img">
    <img src="./images/events2.png" alt="About us" width="475" />
    <img src="./images/events1.png" alt="About us" width="475" />
  </div>
  <p class="events-inscription">
    For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.
  </p>
  <div>
        <img class="events-vertical-line-left" src="./images/vertical-line.png" alt="" width="1" />
        <img class="events-vertical-line-center" src="./images/vertical-line.png" alt="" width="1" />
        <img class="events-vertical-line-right" src="./images/vertical-line.png" alt="" width="1" />
</section>
