<section class="specialties-section specialties-overlay">
  <div class="container">

    <p class="name">Specialties</p>
    <div>
      <div class="specialties-slide">
        <div class="specialties-wrapper">
          <img
            class="specialties-img"
            src="./images/specialties1.png"
            alt="Specialties"
            width="600"
            height="475"
          />
          <div class="specialties-content">
            <h2 class="specialties-content__title title">Pancakes</h2>
            <h3 class="specialties-content__subtitle subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus,
              molestie est a, tempor magna.
            </h3>
            <p class="specialties-content__paragraf paragraf">
              Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non
              ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a
              sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra.
              Nulla facilisis semper laoreet.
            </p>
          </div>
        </div>
      </div>
      <div class="specialties-slide">
        <div class="specialties-wrapper">
          <img
            class="specialties-img"
            srcset="./images/specialties@2x.png 2x"
            src="./images/specialties.png"
            alt="Specialties"
            width="600"
            height="475"
          />
          <div class="specialties-content">
            <h2 class="specialties-content__title title">Ice cream</h2>

            <h3 class="specialties-content__subtitle subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus,
              molestie est a, tempor magna.
            </h3>
            <p class="specialties-content__paragraf paragraf">
              Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non
              ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a
              sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra.
              Nulla facilisis semper laoreet.
            </p>
          </div>
        </div>
      </div>
      <div class="specialties-slide">
        <div class="specialties-wrapper">
          <img
            class="specialties-img"
            src="./images/specialties2.png"
            alt="Specialties"
            width="600"
            height="475"
          />
          <div class="specialties-content">
            <h2 class="specialties-content__title title">Сheese cake</h2>
            <h3 class="specialties-content__subtitle subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus,
              molestie est a, tempor magna.
            </h3>
            <p class="specialties-content__paragraf paragraf">
              Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non
              ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a
              sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra.
              Nulla facilisis semper laoreet.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="specialties-slider">
      <span class="specialties-slider__dot" onclick="currentSlide(1)"></span>
      <span class="specialties-slider__dot" onclick="currentSlide(2)"></span>
      <span class="specialties-slider__dot" onclick="currentSlide(3)"></span>
    </div>

  </div>
</section>
