<section class="specialties-overlay section-slider">
  <div class="container">
  <div class="specialties-section">
    <p class="specialties-title">Specialties</p>
    <div>
      <div class="specialties-slide">
        <div class="specialties-block">
          <img
            class="specialties-img"
            src="./images/specialties1.png"
            alt="Specialties"
            width="475"
            height="475"
          />
          <div class="specialties-text-block">
            <h2 class="specialties-name">Chocolate pancakes</h2>
            <h3 class="specialties-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus,
              molestie est a, tempor magna.
            </h3>
            <p class="specialties-paragraf">
              Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non
              ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a
              sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra.
              Nulla facilisis semper laoreet.
            </p>
          </div>
        </div>
      </div>
      <div class="specialties-slide">
        <div class="specialties-block">
          <img
            class="specialties-img"
            srcset="./images/specialties@2x.png 2x"
            src="./images/specialties.png"
            alt="Specialties"
            width="475"
            height="475"
          />
          <div class="specialties-text-block">
            <h2 class="specialties-name">Ice cream</h2>

            <h3 class="specialties-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus,
              molestie est a, tempor magna.
            </h3>
            <p class="specialties-paragraf">
              Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non
              ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a
              sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra.
              Nulla facilisis semper laoreet.
            </p>
          </div>
        </div>
      </div>
      <div class="specialties-slide">
        <div class="specialties-block">
          <img
            class="specialties-img"
            src="./images/specialties2.png"
            alt="Specialties"
            width="475"
            height="475"
          />
          <div class="specialties-text-block">
            <h2 class="specialties-name">Сheese cake</h2>

            <h3 class="specialties-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus,
              molestie est a, tempor magna.
            </h3>
            <p class="specialties-paragraf">
              Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non
              ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a
              sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra.
              Nulla facilisis semper laoreet.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="specialties-slider-controls" style="text-align: center">
      <span class="specialties-slider-controls-dot" onclick="currentSlide(1)"></span>
      <span class="specialties-slider-controls-dot" onclick="currentSlide(2)"></span>
      <span class="specialties-slider-controls-dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
  </div>
</section>
