<section class="container specialties-overlay">
  <div class="specialties-block">
    <div>
      <img class="specialties-img" src="./images/Group.png" alt="About us" width="475" />
    </div>
    <div class="specialties-text-block">
      <p class="specialties-title">Specialties</p>
      <h2 class="specialties-name">Chocolate pancakes</h2>
      <h3 class="specialties-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est
        a, tempor magna.
      </h3>
      <p class="specialties-paragraf">
        Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices
        ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin
        lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper
        laoreet.
      </p>
    </div>
  </div>
</section>
